<mat-toolbar class="main-toolbar mat-elevation-z3 primary-color">
  <button mat-icon-button (click)="drawer.toggle()">
    <i class="material-icons">menu</i>
  </button>
  <img src="assets/img/logo.png" class="logo" />
  <span>My Application</span>

  <span class="fill-remaining-space"></span>

  <img src="assets/img/profile.jpeg" class="avatar" [matMenuTriggerFor]="menu" />
  <i class="material-icons menu-icon" [matMenuTriggerFor]="menu">more_vert</i>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item class="profile-menu">Edit Profile</button>
    <button mat-menu-item class="profile-menu">Change Password</button>
  </mat-menu>

</mat-toolbar>
<mat-drawer-container class="main-container" autosize fullscreen>

  <mat-drawer #drawer mode="side" opened="true" class="main-sidenav">

    <div *ngFor="let menu of menus">
      <mat-list *ngIf="menu.menuItem.length == 0">
        <a routerLink="{{menu.path}}" routerLinkActive="sidenav-menu-active">
          <mat-list-item class="single-level-menu">
            <i class="material-icons sidenav-icon">{{menu.icon}}</i>{{menu.title}}
          </mat-list-item>
        </a>
      </mat-list>
      <mat-accordion *ngIf="menu.menuItem.length > 0">
        <mat-expansion-panel style="box-shadow: 0 0 0 0 !important;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="material-icons sidenav-icon">{{menu.icon}}</i>{{menu.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <a routerLinkActive="sidenav-menu-active" *ngFor="let subMenu of menu.menuItem" routerLink="{{subMenu.path}}" >
              <mat-list-item class="multi-level-menu">
                <i class="material-icons sidenav-icon">{{subMenu.icon}}</i>{{subMenu.title}}
              </mat-list-item>
            </a>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>