<mat-toolbar class="amd-toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <i class="material-icons">menu</i>
  </button>
  <span>My Application</span>
</mat-toolbar>
<mat-drawer-container class="main-container" [hasBackdrop]="false" fullscreen>
  <mat-drawer #drawer [mode]="over" class="amd-sidenav">
    <mat-accordion>

      <mat-expansion-panel *ngFor="let menu of menus">
        <mat-expansion-panel-header>
          <mat-panel-title><i class="material-icons sidenav-icon">{{menu.icon}}</i>{{menu.title}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let subMenu of menu.menuItem"> <i class="material-icons sidenav-icon">{{subMenu.icon}}</i>{{subMenu.title}}</mat-list-item>
        </mat-list>           
      </mat-expansion-panel>
      
    </mat-accordion>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>