.login-container {
    margin-top: 30px;
    text-align: center;
    min-width: 250px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}
.login-container mat-form-field {
    display: block;
    width: 100%;
}
.login-logo {
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}