@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '_theming.scss';
@include mat-core();
$my-app-primary: mat-palette($mat-gray, 900);
$my-app-accent: mat-palette($mat-gray, 700);
$my-app-success: mat-palette($mat-teal, 500);
$my-app-warning: mat-palette($mat-yellow, 600);
$my-app-error: mat-palette($mat-red, 600);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-success, $my-app-warning, $my-app-error);
@include angular-material-theme($my-app-theme);

.main-card {
    margin: 15px 15px 15px 15px;
    height: 100%;
}
.main-card mat-card-content {
    margin-top: 25px;
}
.loading {
    width:100%;
    text-align:center;
}

.fill-remaining-space {
    flex: auto 1 1;
}

